.App {
  margin-top: 5vh;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 4em;
  width: auto;
  margin-bottom: 2em;
}

#submit-button{
  background-color: #F47B6B;
  color: white;
  border: none;
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#submit-button:hover{
  background-color: #f39d92;
}

/* Left Column Styles */
#left-column{
  background-color: #F47B6B;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#profile-pic{
  margin-bottom: 1%;
  height: 5em;
  width: 5em;
}

#left-col-header{
  font-weight: bold;
  font-size: 1.125em;
}

.DayPicker-Weekday{
  color: white !important;
  font-weight: bold;
}


/* Right Column Styles */
#right-col-header{
  padding-top: 10%;
  font-weight: bold;
  color: #004B6B;
}

#duration-selector{
  text-align: center;
  color: #004B6B;
  font-size: 0.875em;
  font-weight: 400;
  background-color: #E5EAF0;
  border-color: #E5EAF0;
}

#time-selector{
  font-size: 1em;
  color: #004B6B;
  text-align: center;
}


@media only screen and (max-width: 992px) {
  body{
    font-size: 16px;
  }
}


@media only screen and (max-width: 768px) {
  body{
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  body{
    font-size: 14px;
  }
}

